{% extends 'base.html.twig' %}

{% block title %}Index Utilisateur{% endblock %}

{% block body %}
    <h1>Index Utilisateur</h1>

    <table class="tableau">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Roles</th>
                <th>MotDePasse</th>
                <th>Email</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for Utilisateur in Utilisateurs %}
            <tr>
                <td>{{ Utilisateur.id }}</td>
                <td>{{ Utilisateur.Pseudo }}</td>
                <td>{{ Utilisateur.roles ? Utilisateur.roles|json_encode : '' }}</td>
                <td>{{ Utilisateur.Email }}</td>
                <td>
                    <a href="{{ path('Utilisateur_modifPage', {'id': Utilisateur.id}) }}">Modification de la page</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                    {% if app.user.id == Utilisateur.id or is_granted('ADMIN') %}
                    <a href="{{ path('Utilisateur_modif', {'id': Utilisateur.id}) }}">Modification</a>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Not found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Utilisateur_nouveau') }}">Xréation d'un nouveau</a>
{% endblock %}
