{% extends 'base.html.twig' %}

{% block title %}Modification Utilisateur{% endblock %}

{% block body %}
    <h1>Modification Utilisateur</h1>

    {{ include('form_erreur.html.twig', {'erreur': error}) }}

    {{ include('Utilisateur/formPrincipal.html.twig', {'bouton_label': 'Mise à jour'}) }}

    <a href="{{ path('Utilisateur_index') }}">Retournez à la liste</a>

    {{ include('Utilisateur/suppression_form.html.twig') }}
{% endblock %}
