{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="tableau">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ Utilisateur.pseudo }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ Utilisateur.roles ? Utilisateur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ Utilisateur.Email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Utilisateur_index') }}">Retournez à la liste</a>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        {% if app.user.id == Utilisateur.id or is_granted('ADMIN') %}
            <a href="{{ path('Utilisateur_modif', {'id': Utilisateur.id}) }}">Modification</a>
            {{ include('Utilisateur/suppression_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
