{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous !{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ include('form_erreur.html.twig', {'erreur': error}) }}

    {{ include('Utilisateur/formPrincipal.html.twig') }}

    <a href="{{ path('Utilisateur_index') }}">Retournez à la liste</a>
{% endblock %}
