<form method="post" action="{{ path('Utilisateur_suppression', {'id': Utilisateur.id}) }}" onsubmit="return confirmation('Voulez vous supprimer cet item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ token('delete' ~ Utilisateur.id) }}">
    <button class="bouton">Suppression</button>
</form>
