{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header %}
    <h1><a href="{{ path('home') }}">ProjetSymfony</a></h1>
    <a href="{{ path('inscription') }}">Inscription</a>
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="message erreur">{{ error.messageKey|trans(error.messageData, 'securité') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="demande-inscrip">
            Vous êtes connecté en tant que: {{ app.user.pseudo }}, <a href="{{ path('app_déco') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 demande-inscrip ">Merci de vous inscrire</h1>
    <label for="pseudo">Pseudo</label>
    <input type="text" value="{{ nom_famille }}" name="pseudo" id="pseudo" class="form-control" required autofocus>
    <label for="MotDePasse">Mot de Passe</label>
    <input type="password" name="password" id="MotDePasse" class="form-control" required>

    <input type="hidden" name="_token"
           value="{{ token('authentification') }}"
    >

    <button class="bouton bouton-lg bouton-primary" type="submit">
        S'inscrire
    </button>
</form>
{% endblock %}
