{% extends 'base.html.twig' %}

{% block title %}Index du Return{% endblock %}

{% block body %}
    <h1>Index du Return</h1>

    {{ include('Return/tableau.html.twig', {'Returns': Returns)}}

    <a href="{{ path('Return_new') }}">Création d'un nouveau</a>
{% endblock %}
