{% extends 'base.html.twig' %}

{% block title %}Return{% endblock %}

{% block body %}
    <h1>Return</h1>

    <table class="tableau">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Return.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ Return.Contenu }}</td>
            </tr>
            <tr>
                <th>DatePublication</th>
                <td>{{ Return.DatePublication ? Return.DatePublication|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateEdition</th>
                <td>{{ Return.DateEdition ? Return.DateEdition|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ Return.Email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Return_index') }}">Retournez à la liste</a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        {% if app.user.IsHerReturn(Return) or is_granted('ADMIN') %}
            <a href="{{ path('Return_modif', {'id': Return.id}) }}">Modification</a>

            {{ include('Return/suppression_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
