{% extends 'base.html.twig' %}

{% block title %}Modification Return{% endblock %}

{% block body %}
    <h1>Modification Return</h1>

    {{ include('form_erreur.html.twig', {'erreur': error}) }}
    
    {{ include('Return/formPrincipal.html.twig', {'bouton_label': 'Mise à jour'}) }}

    <a href="{{ path('Return_index') }}">Retournez à la liste</a>

    {{ include('Return/suppression_form.html.twig') }}
{% endblock %}
