{% extends 'base.html.twig' %}

{% block title %}Nouveau Return{% endblock %}

{% block body %}
    <h1>Création d'un nouveau Return</h1>

    {{ include('suppression_form.html.twig', {'erreur': error}) }}

    {{ include('Return/formPrincipal.html.twig') }}

    <a href="{{ path('Return_index') }}">retournez à la liste</a>
{% endblock %}
