<form method="post" action="{{ path('Return_delete', {'id': Return.id}) }}" onsubmit="return confirmation('Voulez vous supprimer cet item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ token('delete' ~ Return.id) }}">
    <button class="btn">Delete</button>
</form>
