<table class="tableau">
    <thead>
        <tr>
            <th>Contenu</th>
            <th>DatePublication</th>
            <th>DateEdition</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for Return in Returns %}
        <tr>
            <td>{{ Return.Contenu }}</td>
            <td>{{ Return.DatePublication ? Return.DatePublication|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ Return.DateEdition ? Return.DateEdition|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ Return.Email }}</td>
            <td>
                <a href="{{ path('Return_modifPage', {'id': Return.id}) }}">Modif de la page</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                    {% if app.user.IsHerReturn(Return) or is_granted('ADMIN') %}
                <a href="{{ path('Return_modif', {'id': Return.id}) }}">Modification</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">Not found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>