{% extends 'base.html.twig' %}

{% block title %}ProjetSymfony{% endblock %}

{% block body %}
    <table class="tableau">
        <thead>
            <tr>
                <th>Contenu</th>
                <th>Titre</th>
                <th>DatePublication</th>
                <th>DateEdition</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for Article in Articles %}
            <tr>
                <td>{{ Article.Contenu }}</td>
                <td>{{ Article.Titre }}</td>
                <td>{{ Article.DatePublication ? Article.DatePublication|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ Article.DateEdition ? Article.DateEdition|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('Article_modifPage', {'id': Article.id}) }}">Modif de la page</a>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                        {% if app.user.IsHerPost(Article) or is_granted('ADMIN') %}
                            <a href="{{ path('Article_modif', {'id': Article.id}) }}">Modification</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Not found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        <a href="{{ path('ownpost_new') }}">Creation d'un nouveau</a>
    {% endif %}
{% endblock %}
