{% extends 'base.html.twig' %}

{% block title %}Edition d'Article{% endblock %}

{% block body %}
    <h1>Edition d'Article</h1>

    {{ include('form_erreur.html.twig', {'erreur': error}) }}

    {{ include('Article/formPrincipal.html.twig', {'bouton_label': 'Mise à jour !'}) }}

    <a href="{{ path('home') }}">retourner à la liste</a>
    
    {{ include('Article/suppression_form.html.twig') }}
{% endblock %}
