{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="tableau">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ Article.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ Article.Contenu }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ Article.Titre }}</td>
            </tr>
            <tr>
                <th>DatePublication</th>
                <td>{{ Article.DatePublication ? Article.DatePublication|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateEdition</th>
                <td>{{ Article.DateEdition ? Article.DateEdition|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Retours</th>
                <td>
                    {{ include('Return/tableau.html.twig', {'Retours': Article.Retours) }}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home') }}">Retournez à la liste</a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        {% if app.Utilisateur.IsHerPost(Article) or is_granted('ADMIN') %}
            <a href="{{ path('Article_modif', {'id': Article.id}) }}">Edition</a>

            {{ include('Article/suppression_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
