{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Création d'un nouvel article</h1>

    {{ include('form_erreur.html.twig', {'erreur': error}) }}

    {{ include('Poste/formPrincipal.html.twig') }}

    <a href="{{ path('home') }}">Retournez à la liste</a>
{% endblock %}
