<form method="post" action="{{ path('Article_delete', {'id': Article.id}) }}" onsubmit="return confirmation('Voulez vous supprimer cet item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ token('delete' ~ Article.id) }}">
    <button class="bouton">Suppression</button>
</form>
